.main{
  display: flex;
  display: -webkit-flex;
  min-height: 100vh;
}
.container{
  padding: 48px;
  @media (max-width: 768px){
    padding: 16px;
  }
}
.page-title{
  display: flex;
  display: -webkit-flex;
  margin-bottom: 24px;
  h2{
    font-weight: 300;
    font-size: 32px;
    color: $gray-light;
  }
  .back-button{
    margin-right: 32px;
  }
}
.form-group{
  display: flex;
  display: -webkit-flex;
  .form-label{
    line-height: 36px;
    margin-right: 16px;
    margin-bottom: 16px;
    width: 84px;
  }
}
.action-block{
  margin-top: 16px;
  button{
    margin-right: 16px;
    i{
      font-size: 21px;
      vertical-align: text-bottom;
      margin-right: 8px;
    }
  }
}
//Left Pane
.left-pane{
  flex-basis: 40%;
  background: rgba(74, 85, 255, 0.18);
}

// Right Pane
.right-pane{
  flex-grow: 1;
  background: rgba(222, 224, 255, 0.28);
  .action-block{
    margin-left: 94px;
  }
}
.custom-file-input-wrapper{
  width: 100%;
}
.custom-file-input + label{
  height: 36px;
  line-height: 36px;
  max-width: 180px;
  border-radius: 4px;
  padding: 0 16px;
  display: flex;
  display: -webkit-flex;
  border: 1px solid transparent;
  background: $white;
  color: lighten($primary-blue, 10%);
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  &:hover{
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    color: $primary-blue;
  }
  i{
    font-size: 21px;
    line-height: 34px;
    margin-right: 8px;
  }
}
.image-preview{
  margin: 16px 0;
  max-width: 240px;
}